# Asaas API Keys
ASAAS_API_KEY=
ASAAS_API_URL=https://api.asaas.com/v3 # ou https://sandbox.asaas.com/v3 para testes

# App URLs
APP_URL=https://ais-dev-ee4kmxwdjp2rhybcrqgdou-516560898889.us-east1.run.app
